---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title='Porfolio de Marcos Cantos - Programador y Desarrollador Web'
	description="Porfolio web de Marcos Cantos. Ingeniero Multimedia especializado en Programación de Videojuegos y Desarrollador Full-Stack"
>
    <main>
        
    </main>
</Layout>