---
import Layout from "../layouts/Layout.astro";
import PhoneIcon from "../components/icons/Phone.astro";
import MailIcon from "../components/icons/Mail.astro";
---

<Layout
    title='Porfolio de Marcos Cantos - Programador y Desarrollador Web'
	description="Porfolio web de Marcos Cantos. Ingeniero Multimedia especializado en Programación de Videojuegos y Desarrollador Full-Stack"
>
    <main class="contacto">
        <h1>Contacto</h1> 
        <p>Si deseas ponerte en contacto conmigo, puedes hacerlo a través del siguiente formulario:</p>
        <div class="content-container">
            <form method="POST" action="https://formsubmit.co/marcos.cantos.trabajo@gmail.com" class="formulario">
                <div class="item">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required placeholder="Introduce tu nombre" />
                </div>
                <div class="item">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required placeholder="Introduce tu email" />
                </div>
                <div class="item">
                    <label for="mensaje">Mensaje:</label>
                    <textarea id="mensaje" name="mensaje" rows="4" required placeholder="Introduce tu mensaje"></textarea>
                </div>
                <button class="enviar" type="submit">Enviar Mensaje</button>
                <input type="hidden" name="_next" value="https://porfolio-marcos-cantos.netlify.app/">
                <input type="hidden" name="_captcha" value="false">
            </form>
            <div class="otros-medios">
                <h3>Otros métodos de contacto:</h3>
                <div class="contact-items"><MailIcon/><span><a href="mailto:marcos.cantos.trabajo@gmail.com"> marcos.cantos.trabajo@gmail.com</a></span></div>
                <div class="contact-items"><PhoneIcon/><span><a href="tel:+34628564925">+34 628 564 925</a></span></div>
            </div>
       </div>
    </main>
</Layout>

<style>
    .contacto{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 2%;
    }

    .content-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    a{
        color: var(--color-texto);
        text-decoration: none;
    }

    p{
        color: var(--color-texto2);
        margin-top: 0;
    }

    .formulario{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        width: 50%;
    }

    .otros-medios{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .item{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
    }

    .item input, textarea{
        width: 100%;
        height: 2rem;
        background-color: #261a1a;
        border: 1px solid #4d3636;
        border-radius: 5px;

        color: rgb(255, 235, 235);
        padding: 2%;
        font-size: 16px;
        font-family: "Quicksand", sans-serif, system-ui, sans-serif;
    }

    .item textarea{
        height: 5rem;
    }

    .enviar{
        background-color: var(--primary-color);
        color: var(--color-texto1);
        font-family: "Quicksand", sans-serif, system-ui, sans-serif;
        width: 8rem;
        height: 2.5rem;
        border: none;
        border-radius: 10px;
        align-self: center;
        cursor: pointer;

        font-weight: bold;
    }

    .contact-items{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        width: 400px;
        height: 70px;
        background-color: #261a1a;
        border-radius: 20px;
        font-size: 18px;
        padding: 12px;
        border: 2px solid #4d3636;
    }

    @media (min-width: 600px) and (max-width: 1000px)
    {
        .contact-items{
            font-size: clamp(80%,18px, 80%);
            width: 100%;
        }

        .otros-medios{
            justify-content: flex-start;
            gap: 5px;
        }

        .otros-medios h3{
            margin: 0;
        }
    }

    @media (max-width: 600px) {
        .contacto {
            width: 90%;
        }

        .item {
            width: 100%;
        }

        .content-container{
            flex-direction: column;
            align-items: flex-start;
        }

        .contact-items{
            max-width: 100%;
            font-size: 16px;
            flex-direction: column;
        }

        .formulario{
            width: 100%;
        }

        .otros-medios{
            width: 100%;
        }
    }

    
</style>