---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Proyectos from '../components/Proyectos.astro';
import SobreMi from '../components/SobreMi.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import ItchioIcon from '../components/icons/Itchio.astro';
---

<Layout 
	title='Porfolio de Marcos Cantos - Programador y Desarrollador Web'
	description="Porfolio web de Marcos Cantos. Ingeniero Multimedia especializado en Programador de Videojuegos y Desarrollador Full-Stack"
>
	<Header></Header>
	<main id="Home" class="principal">
		<img src="/Imagenes/FotoPerfil.jpg" alt="Imagen de porfolio">
		<h1 class="titulo">
			¡Hola! Soy Marcos Cantos
		</h1>
		<h2>
			Ingeniero Multimedia especializado en Programación de Videojuegos y Desarrollador Full-Stack.
		</h2>
		<section class="social">
			<a id="github" href="https://github.com/marcos223467" target="_blank">
				<GitHubIcon/>
			</a>
			<a id="linkedin" href="https://www.linkedin.com/in/marcos-cantos/" target="_blank">
				<LinkedInIcon/>
			</a>
			<a id="itchio" href="https://marcos223467.itch.io/" target="_blank">
				<ItchioIcon/>
			</a>			
		</section>
	</main>
	<hr id="separador"/>
	<Proyectos></Proyectos>
	<SobreMi></SobreMi>
	<Footer></Footer>
</Layout>

<style>
	.principal
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		width: 65dvw;
		height: fit-content;
		margin: 2%;
	}

	.principal img{
		width: 150px;
		border-radius: 100%;
	}

	.social a{
		text-decoration: none;
		font-weight: bold;
		color: currentColor;
		transition: .3s ease;
	}

	.social
	{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}

	#github:hover
	{
		transform: scale(1.2);
		color: rgb(103, 39, 130);
		transition: .3s ease-in-out;
	}
	#linkedin:hover
	{
		transform: scale(1.2);
		color: rgb(10, 102, 194);
		transition: .3s ease-in-out;
	}
	#itchio:hover
	{
		transform: scale(1.2);
		color: rgb(242, 90, 90);
		transition: .3s ease-in-out;
	}

	.titulo
	{
		font-size: 50px;
		font-weight: bold;
		margin-bottom: 0;

	}
</style>
