<section>
    <h3>Certificados</h3>
    <div class="certificados">
        <div class="certificado">
            <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="28b1d233-871e-40dd-b495-c0443406a7b0" data-share-badge-host="https://www.credly.com"></div>
            <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        </div>
    </div>
</section>

<script>
    const certificados = document.querySelectorAll('.certificado');
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('mostrar');
            }
            else{
                entry.target.classList.remove('mostrar');
            }
        });
    }, {threshold: 0.2});
    if (certificados.length > 0) {
        certificados.forEach(certificado => observer.observe(certificado));
    }
</script>

<style>
    section{
        width: 50%;
        padding: 2%;
    }
    .certificados{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        
        padding-left: 2%;
        padding-top: 2%;
        border: 1px solid rgba(189, 141, 141, 0.797);
        border-radius: 15px;
    }

    .certificado{
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
    }

    .mostrar{
        transition: .4s;
        opacity: 1;
    }   

    @media (max-width: 600px) {
        section{
            width: 90%;
        }
    }