---
interface Props{
    name: string;
    tipo: number;
    fechas: string;
    descripcion: string;
}

const {name, tipo, fechas, descripcion} = Astro.props;

import Academic from './icons/Academic.astro';
import Teacher from './icons/Maletin.astro';
import GameDev from './icons/GameDev.astro';
---

<div class="experiencia-item">
    <div class="tipo">
        {tipo === 0 && <Academic />}
        {tipo === 1 && <Teacher />}
        {tipo === 2 && <GameDev />}
        <div class="linea"></div>
    </div>
    <div class="info">
        <h4>{name}</h4>
        <p>{descripcion}</p>
        <p style="color: rgb(215, 215, 215);"><b>{fechas}</b></p>
    </div>
    
</div>

<script>
    const experiencias = document.querySelectorAll('.experiencia-item');
    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('mostrar');
            }
            else{
                entry.target.classList.remove('mostrar');
            }
        });
    }, {threshold: 0.2});
    if (experiencias.length > 0) {
        experiencias.forEach(experiencia => observer.observe(experiencia));
    }
</script>

<style>
    .experiencia-item {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    .experiencia-item.mostrar{
        opacity: 1;
        
    }

    .tipo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        height: 100%;
    }

    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }

    .info h4{
        margin: 0;
        padding: 0;
        margin-top: 0.3%;
    }

    .info p{
        color: rgb(201, 174, 174);
        margin: 0;
    }

    .linea{
        width: 2px;
        height: 5rem;
        background-color: rgba(189, 141, 141, 0.797);
    }
</style>