<footer>
        <div class="footer-container">
            <a href="#Home" >
                <img src="/favicon.svg" width="30" alt="Porfolio Logo" />
                <span>Marcos Cantos</span>
            </a>
            <div>
                <a href="https://marcos223467.itch.io/">Proyectos</a>
                <a href="https://www.linkedin.com/in/marcos-cantos/">Sobre mi</a>
                <a href="mailto:marcos.cantos.trabajo@gmail.com">Contacto</a>
            </div>
        </div>
        <hr class="linea"/>
        <span>© 2025 <a href="#Home">Marcos Cantos</a>.</span>
</footer>

<style>
    footer
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100dvw;
        background-color: rgb(54, 54, 54);
        color: white;
    }
    .footer-container{
        display: flex;
        width: 60%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    footer a{
        color: white;
        text-decoration: none;
    }

    .linea{
        width: 60%;
    }
</style>

