---
import LightDarkIcon from "./icons/Light-Dark.astro";
import LanguageIcon from "./icons/Language.astro";
---
<header>
    <nav class="navbar">
        <div class="navbar-sections">
            <a href="https://marcos223467.itch.io/">Proyectos</a>
            <a href="https://www.linkedin.com/in/marcos-cantos/">Sobre Mi</a>
            <a href="mailto:marcos.cantos.trabajo@gmail.com">Contacto</a>
        </div>
        <button id="theme-btn">
            <LightDarkIcon/>
        </button>
        <!-- <button>
            <LanguageIcon/>
        </button>
        -->
    </nav>
</header>

<script>
    let currentTheme = "light";
    const themeBtn = document.getElementById("theme-btn");

    themeBtn?.addEventListener("click", function(){
        currentTheme = currentTheme === "light" ? "dark" : "light";
        document.querySelector("html")?.style.setProperty("color", currentTheme === "light" ? "var(--light-text)" : "var(--dark-text)");
        document.querySelector("body")?.style.setProperty("background", currentTheme === "light" ? "var(--light-background)" : "var(--dark-background)");
    });
</script>

<style>
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 70dvw;
    }

    .navbar-sections{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        padding: 2%;
        border: 2px solid currentColor;
        border-radius: 50px 50px 50px 50px;
    }

    .navbar-sections a{
        text-decoration: none;
        color: currentColor;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        transition: 0.2s ease;
    }

    .navbar-sections a:hover{
        color: rosybrown;
        transition: 0.2s ease-in-out;
    }

    .navbar button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: currentColor;
        transition: 0.2s ease-in-out;
    }
    .navbar button:hover{
        transform: scale(1.2);
        transition: 0.2s ease-in-out;
    }

</style>