---

---

<div class="portada">
    <h2>Marcos Cantos</h2>
    <h3>Ingeniero Multimedia - Universitat de Valencia</h3>
    <h4>Full-Stack Developer &amp; Video Game Programmer</h4>
    <a class="btn" href="/Proyectos">Ver Proyectos</a>
</div>


<style>
    .portada{
        width: 50%;
        height: 400px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 10px;
        
        background-color: brown;
        padding-left: 2%;
        padding-bottom: 2%;
        margin-bottom: 2%;
    }
    .portada h2{
        font-size: 40px;
        margin: 0;
        padding: 0;
    }

    .portada h3{
        font-size: 20px;
        margin: 0;
        padding: 0;
    }

    .portada h4{
        margin: 0;
        padding: 0;
    }

    .btn{
        background-color: #f20c0c;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;

        font-family: "Quicksand", sans-serif, system-ui, sans-serif;
        text-decoration: none;
    }
</style>