---
import type { ACTION_ERROR_CODES } from "astro:actions";
import ProyectoItem from "./ProyectoItem.astro";
const PROYECTOS = [
    {
        titulo: "Lista de Regalos Online",
        descripcion: "Aplicación web para gestionar una lista de regalos online y para poder enviar la lista a tus amigos y familiares.",
        fecha: "Diciembre 2024",
        link: "https://lista-navidad.vercel.app/",
        img: "Imagenes/Proyectos/ListaNavidad.png",
        tecnologias: ["HTML", "CSS", "JavaScript"]
    },
    {
        titulo: "M-GPT",
        descripcion: "Aplicación web en la que puedes elegir con que LLM deseas chatear de forma local.",
        fecha: "Julio 2024",
        link: "https://gpt-marcos.vercel.app/",
        img: "Imagenes/Proyectos/MGPT.png",
        tecnologias: ["HTML", "CSS", "JavaScript"]
    },
    {
        titulo: "Garita Boy",
        descripcion: "Juego Top-Down en el que encarnas a un guardia de seguridad que debe proteger su fabrica de unos vándalos.",
        fecha: "Septiembre 2023",
        link: "https://znoshim.itch.io/garita-boy",
        img: "Imagenes/Proyectos/GaritaBoy.png",
        tecnologias: ["Unity", "C#"]
    },
    {
        titulo: "The Belugame",
        descripcion: "Juego 2D en el que controlas a un buceador que debe limpiar el fondo marino de basura para evitar que una beluga herida se intoxique.",
        fecha: "Julio 2023",
        link: "https://znoshim.itch.io/the-belugame",
        img: "Imagenes/Proyectos/Belugame.png",
        tecnologias: ["Unity", "C#"]
    },
    {
        titulo: "Angry Bees",
        descripcion: "Juego 2D para móvil en el que eres un hobbit recolector de flores que se debe enfrentar a un enjambre de abejas.",
        fecha: "Febrero 2023",
        link: "https://marcos223467.itch.io/angry-bees",
        img: "Imagenes/Proyectos/AngryBees.png",
        tecnologias: ["Unity", "C#"]
    },
    {
        titulo: "A Cuantos Te Bajas en 100 Segundos",
        descripcion: "Juego 3D en el que debes derrotar al número y tipo de enemigos que elijas en 100 segundos.",
        fecha: "Septiembre 2022",
        link: "https://marcos223467.itch.io/a-cuantos-x-te-bajas",
        img: "Imagenes/Proyectos/ACTB.png",
        tecnologias: ["Unity", "C#", "Blender"]
    }
    
]
---

<section id="proyectos">
    <h2>Proyectos</h2>
    <div class="cards">
        {
            PROYECTOS.map((proyecto) => (
                <ProyectoItem {... proyecto}/>
            ))
        }
    </div>
</section>

<style>
    #proyectos
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 2% 0;
    }
    .cards
    {
        display: flex;
        flex-flow: row wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        margin: 2% 0;
    }
</style>