---
import Skill from './Skill.astro';

const SKILLS = [
    {
        name: 'JavaScript',
        img: '../../public/Imagenes/Skills/javascript.svg'
    },
    {
        name: 'HTML',
        img: '../../public/Imagenes/Skills/html.svg'
    },
    {
        name: 'CSS',
        img: '../../public/Imagenes/Skills/css.svg'
    },
    {
        name: 'React',
        img: '../../public/Imagenes/Skills/react.svg'
    },
    {
        name: 'Node.js',
        img: '../../public/Imagenes/Skills/node.svg'
    },
    {
        name: 'C++',
        img: '../../public/Imagenes/Skills/cpp.svg'
    },
    {
        name: 'Git',
        img: '../../public/Imagenes/Skills/git.svg'
    },
    {
        name: 'Java',
        img: '../../public/Imagenes/Skills/java.svg'
    },
    {
        name: 'C#',
        img: '../../public/Imagenes/Skills/csharp.svg'
    },
    {
        name: 'Unity',
        img: '../../public/Imagenes/Skills/unity.svg'
    },
    {
        name: 'astro',
        img: '../../public/Imagenes/Skills/astro.svg'
    },
    {
        name: 'Blender',
        img: '../../public/Imagenes/Skills/blender.svg'
    }
]
---

<section>
    <h3>Habilidades</h3>
    <div class="skills">
        {
            SKILLS.map(skill => (
                <Skill name={skill.name} img={skill.img} />
            ))
        }
    </div>
</section>

<style>
    section{
        width: 50%;
        padding: 2%;
    }

    .skills{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }
</style>